<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Initial index</title>
</head>
<body>
    <p>Hello, world. You're at the polls index.</p>
    <br/><br/>
    <a href="{% url 'test_redis_page'  %}">Link to cached page</a>
    <br><br>
    <!--Put logged in user id to go on user page -->
    <a href="{% url 'profile_page' 1 %}"><button class="btn button-success">Profile</button></a>
          {% block content %}
          {% endblock %}
</body>
</html>