<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>Initial index</title>
  </head>
  <body>
    <p>Hello, world. You're at the polls index.</p>
    <br /><br />
    <ul>
      <li><a href="{% url 'test_redis_page'  %}">Link to cached page</a></li>
      <li><a href="{% url 'login'  %}">Login Page</a></li>
      <li><a href="{% url 'logout'  %}">Logout Page</a></li>
      <li><a href="{% url 'user_profile'  %}">Profile</a></li>
    </ul>
    <a href="{% url 'test'  %}">Test acess(works for user1)</a>
  </body>
</html>
