{% extends "base.html" %}


{% block content %}
    <h2>{{issue.title}}</h2>
    <p> {{issue.description}} </p>
    <p> {{issue.date_created}} </p>
    <p> {{issue.labels}} </p>
    <p> {{issue.state}} </p>
    <p> {{issue.assignees}} </p>
    <p> {{issue.milestone}} </p>
    <ul>
        {% for event in events %}
            <li> {{event}}</li>
        {% endfor %}
    </ul>
    <p> {{issue.events}} </p>
{% endblock %}
    <!-- title = models.CharField(max_length=200) -->
    <!-- description = models.TextField(blank=True) -->
    <!-- date_created = models.DateField(auto_now=True) -->
    <!-- repository = models.ForeignKey(Repository, on_delete=models.CASCADE) -->
    <!-- labels = models.ManyToManyField(Label) -->
    <!-- state = models.CharField( -->
    <!--     max_length=2, choices=IssueState.STATE_CHOICES, default=IssueState.OPEN) -->
