{% extends "base.html" %}
{% block content %}
    <h2>{{issue.title}}</h2> <p>- {{issue.date_created}} </p>
    {% if issue.state == "CL" %}
        <p> CLOSED </p>
    {% else %}
        <p> OPEN </p>
    {% endif %}
    <p> {{issue.description}} </p>
    <p> Assignees </p>
    <ul>
        {% for assignee in issue.assignees.all %}
            <li class="list-group-item">{{assignee}}</li>
        {% endfor %}
    </ul>
    <p> Labels </p>
    <ul>
        {% for label in issue.labels.all %}
            <li class="list-group-item">{{label}}</li>
        {% endfor %}
    </ul>
    <p> Milestone - {{issue.milestone.title}} </p>
    <a href="{% url 'update_issue' repository_id=issue.repository_id issue_id=issue.id %}"><button class="btn btn-success">Edit issue</button></a>
    <ul>
        {% for event in events %}
            <li class="list-group-item"> {{event}}</li>
        {% endfor %}
    </ul>
    {% block comments %}
        {% include 'comments.html' with comments=comments task_id=issue.id%}
    {% endblock %}
{% endblock %}

