{% extends "base.html" %}

{% block content %}
    <h1>User Details</h1>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Company: {{user.company}}</p>
    <h4>Stars</h4>
    {% for star in stars %}
        <li>{{star.repository.name}}</li>
    {% endfor %}
    {% if request.user == user %}
        <div class="row p-1 mg-1">
            <form action="{% url 'delete_user' %}">
                <button class="btn btn-danger mr-1" type="submit">Delete account</button>
            </form>
            <button class="btn btn-primary mr-1" onclick="location.href = '/edit_profile'">Edit profile</button>
            <button class="btn btn-primary mr-1" onclick="location.href = '/change_password'">Change password</button>
        </div>
    {% endif %}

{% endblock %}
